@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: #f8fafc;
}

.vertigo-logo{
    display: flex;
    gap: 3px;
    padding-top: 15px;
    padding-bottom: 70px;
    font-weight: bolder;
}

.container_geral{
    display: block;
    max-width: 360px;
    margin: 0 auto;
    background: #F8FAFC;
}
.vertigo-titles h1{
    font-size: 1.8em;
    padding-bottom: 10px;
    font-weight: bolder;
}

.vertigo-titles p{
    color: #5D697B;
    font-size: 1em;
}

.vertigo-titles{
    padding: 25px 0px;
}

.vertigo-nomes{
    font-weight: bolder;
}

.esqueceusenha{
    display: flex;
    justify-content: right;
    padding: 1px 0px;
}

.vertigo-esqueceusenha{
    text-decoration: none;
    color:#7C3AED;
    font-weight: bolder;
    transform: translate(-23%, 10%);
}

.vertigo-esqueceusenha:hover{
    text-decoration: underline;
}

input#email, input#senha{
    padding: 10px;
    width: 350px;
    border: 2px solid #e2e8f0;
}

p#msgerrosenha{
    color: #ff0000;
    text-indent: 3px;
}

p#msgerroemail{
    color: #ff0000;
}

input#email:hover{
    border: 2px solid #9C6BF1;
    transition: border 0.3s;
}

input#email:focus{
    outline: none;
}

input#senha:hover{
    border: 2px solid #9C6BF1;
    transition: border 0.3s;
}

input#senha:focus{
    outline: 0;
}

i#icon{
    color:#94a3b8;
    position: absolute;
    transform: translate(-156%, 81%);
    margin: 0;
}
.vertigo-login{
    display: flex;
    padding: 20px 0px;
}

input#entrar{
    width: 350px;
    padding: 12px 0px;
    color: white;
    font-weight: bold;
    background: #7C3AED;
    border: none;
    border-radius: 5px;
}

input#entrar:hover{
    background: #9F67FF;
}

a#inscreva-se{
    color: #7C3AED;
    text-decoration: none;
    font-weight: bolder;
}

a#inscreva-se:hover{
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
.first{
    position: absolute;
    top: 10%;
    left: 7%;
    width: 50vw;
}

.segund{
    width: 50vw;
    position: absolute;
    top: 0%;
    left: 50%;
}

.vertigo-esqueceusenha{
    position: absolute;
    transform: translate(-233%,10%);
}

.vertigo-nomes{
    padding: 15px 0px;
}
  }
  
